[2017-02-04 12:32] dClauzel opened #1 "shift+tab for previous window?"
The current commands for moving around windows are :

It could be nice to also have shift+tab for moving to the previous window.

[2017-02-04 17:35] #1 closed

[2017-02-05 03:14] umpc opened #3 "panic: invalid dimensions"
Because of this check in gocui:

https://github.com/jroimartin/gocui/blob/6b3dc12c322589c2ecbeea58acc792d22f853455/gui.go#L128
[code]

and because the main loop panics on error without attempting to restore the session:

https://github.com/asciimoo/wuzz/blob/master/wuzz.go#L681
[code]

Resizing the terminal window too small on at least macOS causes a panic.

Terminal:
<img width="364" alt="screen

[2017-02-05 03:41] Benaiah commented on #3
I can confirm that this also occurs in Terminator in i3-gaps on Debian. Given the nature of the bug, it seems unlikely that there would be any software stack that *wouldn't* be able to reproduce the issue.

[2017-02-05 05:00] umpc opened #5 "panic: runtime error: invalid memory address or nil pointer dereference"
![screen shot 2017-02-04 at 11 57 21 pm](https://cloud.githubusercontent.com/assets/5883661/22623809/0326ddb2-eb36-11e6-800c-5b0d4bb0098d.png)

I get the above error when trying to open ```wuzz``` in a small terminal window.
This is separate though related to #3.

[2017-02-05 08:22] rafi opened #6 "Another shortcut for "Show history""
Many people use tmux and map <kbd>ctrl</kbd>+<kbd>h/j/k/l</kbd> to move between terminal panes  (even seamlessly with [vim splits](https://github.com/christoomey/vim-tmux-navigator)), would it be possible to add another shortcut for _"Show history"_? Maybe <kbd>ctrl</kbd>+<kbd>e</kbd>?

What about adding the mod-key (meta/alt/win-key) support as-well as ctrl?

[2017-02-05 11:14] #5 closed

[2017-02-05 12:32] DigiAngel opened #8 "Assume http by default"
Just a feature request...perhaps just typing in "wuzz www.bleh.com" should assume http and work instead of having to include the http://.  Just a thought, thank you.

[2017-02-05 12:40] DigiAngel opened #9 "Couple feature requests"
- An option to save the retrieved output to a file
- Syntax highlighting

Thank you.

[2017-02-05 13:21] OJFord opened #10 "Export as curl command"
Love this, great work!

Would be awesome to have a command to 'export as curl command', so that after finding the right request it could be easily copied to a shell script, for example.

Even more awesome, if this were sort of 'adapter' based, there could be (perhaps as contributed plugins) other export formats, such as for Python's requests library, etc.

[2017-02-05 14:19] #8 closed

[2017-02-05 14:20] #6 closed

[2017-02-05 15:10] DigiAngel commented on #8
Beautiful...thank you!

[2017-02-05 19:05] dmuth opened #12 "Homebrew installation?"
Hi,

Are there any plans to make this available under Homebrew?  If not, do you mind if I take a stab at it?

Thanks,

-- Doug

[2017-02-06 00:32] masukomi opened #13 "[feature request] Cookie Support"
most web apps require you to be logged in, and most of them use cookies to manage that.

I need the ability to set and modify cookies  in order to use this for most anything that I'd need to use a tool like this for.

[2017-02-06 03:45] rahilwazir opened #16 "Backspace key, toggles history in Windows 10"
Pressing <kbd>Backspace</kbd> also toggles history view in Windows 10, unable to erase characters.

Go 1.7.4

[2017-02-06 03:47] rahilwazir opened #17 "Previous View (Shift+Tab) does not work in Windows 10"
The hotkey for Previous view, <kbd>Shift+Tab</kbd> does not work in Windows 10

[2017-02-06 03:48] rahilwazir commented on #17
Nevermind this is duplicate of https://github.com/asciimoo/wuzz/issues/1, closing...

[2017-02-06 05:52] shpaker commented on #16
Sad bug. But you can modify string with shortcut CTRL + Backspace on Windows.

[2017-02-06 09:00] mattn commented on #17
FYI, wuzz uses [gocui](https://github.com/jroimartin/gocui). And [gocui](https://github.com/jroimartin/gocui) uses [termbox-go](https://github.com/nsf/termbox-go). [termbox-go](https://github.com/nsf/termbox-go) doesn't handle <kbd>Shift+Tab</kbd>.

[2017-02-06 09:34] rahilwazir commented on #17
@mattn You mean doesn't handle in Windows right? In Linux it works.

Anyhow better report this issue there.

[2017-02-06 09:34] #17 closed

[2017-02-06 10:00] asciimoo commented on #16
@rahilwazir, probably #15 solved it. Could you verify?

[2017-02-06 10:16] asciimoo commented on #13
In the early development code there was a dedicated cookie view, but i decided to remove it, because request-headers view implicitly supports cookie sending by the `Cookie` request header. I'm still not sure if it was a good decision.
I keep this issue open, to see others opinion.

[2017-02-06 10:21] asciimoo commented on #12
@dmuth i'm not really familiar with homebrew/osx. It would be awesome if you could help packaging it.
Thanks!

[2017-02-06 10:35] shpaker commented on #16
Fixed. Checked on Windows 10 1607.

[2017-02-06 10:36] asciimoo commented on #16
\o/
thanks

[2017-02-06 10:36] #16 closed

[2017-02-06 10:39] ahmetoz commented on #16
No problem on Windows 10..
Thanks

[2017-02-06 14:15] bradparks opened #19 "How to paste in "Copy as Curl" command?"
I'm sure I'm missing something super obvious, but how do I paste in the "Copy as Curl" command I get from the network inspector?

I tried pasting it in, but it fails... and I tried starting wuzz and passing it as a command line arg, but that didnt' work either....

[2017-02-06 14:42] asciimoo commented on #19
@bradparks simply paste the command to your shell and replace the `curl` command with `wuzz`.

[2017-02-06 17:16] tobiasboyd opened #20 "Wuzz can't handle responses other than JSON?"
Trying it against an API that returns XML, no results are displayed, only the headers. It seems like at a minimum it would be friendly to show an error/warning that wuzz can't parse the body of the response... and maybe indicate in the readme what it can handle?

[2017-02-06 18:10] bradparks commented on #19
hey.... i should've tried that! but I did just try it and it doesnt seem to quite work... I took a random page from the net and copied it as curl. e.g.

when I try and run `wuzz` with it, I get the url loading as "http://--compressed", and when I try removing `--compressed`, it then uses `http://max-age=0` as the url.... Does `wuzz` accept header params like this?

[2017-02-06 19:08] zaqueoae opened #21 "I love this."
I love this.
I write this because your software has saved my life. At work I was asked for a lightweight software to do this, and I would have had to program it myself if I did not find this.

Thank you

[2017-02-06 19:19] acarl005 opened #22 "vim keybindings"
This is awesome! I hate to be "that guy" but vim keybindings would be nice 🤓. Vim's `<ctrl-w>` window commands for navigating windows would be especially convenient for quickly jumping around.

[2017-02-06 19:29] asciimoo commented on #19
Ah, this is a  bug in command line argument parsing - it does not support the `--compress` flag.
Fixing, thanks.

[2017-02-06 19:38] acarl005 opened #23 "display bug on Hyper term"
It looks great on MacOS terminal and iTerm2. There seems to be a problem with whitespace on [Hyper](https://hyper.is/) term.
![image](https://cloud.githubusercontent.com/assets/8334252/22663247/c40f73ec-ec60-11e6-9a0c-0b1fe34b824c.png)

[2017-02-06 19:49] #19 closed

[2017-02-06 20:30] asciimoo commented on #20
@tobiasboyd, empty response body is strange.. wuzz should display all text based responses - it works for me with XML. Could you provide an URL where I can reproduce the error?

[2017-02-06 21:23] #3 closed

[2017-02-06 22:45] Benaiah commented on #22
I have an existing branch with j/k keybindings for scrolling up and down - adding a `<ctrl-w>` keybind would be pretty easy. I messed up some stuff in git, but I'll try to get that finished up and send in a pull request today.

[2017-02-07 01:46] justone opened #26 "long headers get messed up"
First off, thanks for a great tool for exploring web apis.

I was using it to access Github's API and went to put in the auth header (eg `Authorization: Basic dGVzdHVzZXI6bm9wYXNzbm9wYXNzbm9wYXNzbm9wYXNzbm9wYXNzbm9wYXNzbm9wYXNzbm9wYXNz`), the display shows some characters on the next line:

![ndj homenet org - putty 2017-02-06 17 43 51](https://cloud.githubusercontent.com/assets/8082/22674272/e65e

[2017-02-07 03:55] Benaiah commented on #26
@justone did you paste in the value? There seems to be some sort of issue when pasting - I can't repro the behavior when typing in a value manually. Not sure what the root cause is yet.

[2017-02-07 03:57] Benaiah commented on #22
@acarl005 did you have any other suggestions for vim keybinds (other than in the text fields themselves, not sure how feasible that would be)?

[2017-02-07 05:28] justone commented on #26
Ah yes, it was when I was pasting. Sorry for leaving out that bit of information.

The nice thing is, once o get the value in there, I can keep firing requests without messing with it.

[2017-02-07 06:34] casidiablo commented on #26
This is a very unfortunate bug. I guess if you have short auth tokens it is fine, but try to type a JWT token with lots of claims and you will go crazy.

[2017-02-07 08:06] acarl005 commented on #22
Apart from the window commands, the ability to navigate (`hjkl` and `bweBWE`) within the text fields would be the most useful imho. It would be nice to be able to quickly copy-paste text blocks, e.g. copying a whole JSON object with `ya{` to the system clipboard if possible.

[2017-02-07 09:26] Eraden opened #27 "Support for END and HOME key"
It would be nice to travel through URL using shortcuts.

Go to start:
* `HOME`
* ~~`CTRL + LEFT`~~

Go to end:
* `END`
* ~~`CTRL + RIGHT`~~

[2017-02-07 10:04] asciimoo commented on #26
Well, I can reproduce under linux, but don't understand.. If you paste a longer line than the view's width, it breaks the line as the first image shows. Works as expected, when I type a long line instead of pasting..
Most probably it is a bug in the `gocui` dependency, but still investigating.

[2017-02-07 10:23] asciimoo commented on #22
Maybe, it would be better to make keybindings configurable in the future.
I love vim too, but unfortunately not everybody feels the same, and they may not find it intuitive.

[2017-02-07 13:11] Depado opened #31 "Can scroll way past the end of content"
Hey there, first of all, great software ! I just love it !
There's one odd thing though, I can keep scrolling using <kbd>Down</kbd> and <kbd>Page Down</kbd> way past the end of the content (headers, actual content, etc…). It's not critical and it's not even bothering, just a little weird :)

Thanks again for the great software !

[2017-02-07 19:30] acarl005 commented on #22
You're absolutely right. I'd be happy with a command line option like `wuzz --vim-keys` or something like that and I could just alias it.

[2017-02-07 19:58] Benaiah commented on #22
@asciimoo I agree with making keybinds configurable. wuzz could use a config file for quite a few things - for instance, settings like pretty-printing seem like they would be a bit awkward to provide on the command line.

[2017-02-07 20:04] Benaiah commented on #31
This will be fixed when upstream is finished rewriting gocui's default editing mode - cf. jroimartin/gocui#60

@asciimoo, do you think we should try to fix this in wuzz or wait till upstream finishes the rewrite?

[2017-02-07 20:33] georgijd commented on #26
Hi there,

I found out that if the wrapping for the "headers" view is disabled this problem disappears. If you're happy with this behaviour, PR #35 does exactly that.

[2017-02-07 20:58] Eraden commented on #27
`CTRL + LEFT/RIGHT` can't be supported due lack of gocui `CTRL` modifier per se.

[2017-02-07 21:25] Eraden commented on #23
Also <kbd>CTRL</kbd> <kbd>R</kbd> for linux version is not working in URL section.

[2017-02-07 22:41] Benaiah opened #38 "Add config file"
I think we're reaching the point where wuzz could use a config file. For syntax, I suggest [TOML](https://github.com/toml-lang/toml), which I've used before and is quite easy to integrate into Go.

There are a couple things that need to be decided on for the config file:

- Config sections and keys
- Available settings
- Default config location
- Command-line flag to specify a different config loc

[2017-02-07 22:44] Benaiah commented on #38
I believe `~/.config/wuzz/*` would be the proper location for the config file on Linux, but I'm not sure what the conventions are on other platforms. Should we make this platform-dependent, or should we go the typical `~/.wuzz/*` route, or even `~/.<wuzz config file>` (I think we should go for a directory, as there is potentially other stuff we'll want to store there).

[2017-02-08 07:55] Eraden commented on #38
Yes, for most Linux `~/.config/APP/*` is current way to do this. In the past, home directory was polluted by countless rc files and subdirectories. It was terrible. Many application move to new convention like neovim, neomutt and even AwesomeWM.

[2017-02-08 08:21] asciimoo commented on #38
I also prefer `~/.config/wuzz/`

[2017-02-08 08:35] Eraden commented on #23
This is most certain hyper bugs because I checked this in following terminals:

* konsole
* sakura
* xterm
* hyper

Also you checked this on:

* iTerm2
* terminal.app

And only `hyper` has this problem. Besides `hyper` term can't handle properly changing font, example:

![image](https://cloud.githubusercontent.com/assets/970831/22728976/df393c8a-ede0-11e6-977c-ed8b0005bfdd.png)

Font family: Deja

[2017-02-08 09:04] asciimoo commented on #38
Created a wikipage with the first draft of the config: https://github.com/asciimoo/wuzz/wiki/Config-file-draft . Feel free to edit/extend

[2017-02-08 09:27] ZwodahS opened #40 "query json in response"
One of the things I am interested in helping is to put a json query language similar to jq into wuzz.

There is already an existing parser at https://github.com/tidwall/gjson.

[2017-02-08 09:33] Benaiah commented on #40
Do you mean as an alternative method of searching (as opposed to the existing regex search)? If so, that sounds like a great idea - I'd definitely be interested in that. Not sure how else we could use a jq-like syntax in wuzz - I'd love to hear any suggestions you might have.

[2017-02-08 09:39] ZwodahS commented on #40
so if the response body is a json like say
[code]

We should be able to query `.books.[0]` to get the first item or `.books.[*].id` to get all the id.
This will allow us navigate big json easily.

[2017-02-08 09:41] asciimoo commented on #40
@ZwodahS agree, it would be useful. README's todo section already contains this feature but with xpath.

[2017-02-08 09:45] Benaiah commented on #40
@ZwodahS that's what I thought you meant - that's a great suggestion.

[2017-02-08 09:47] Benaiah commented on #13
It's definitely a matter of taste, but given the widespread use of cookies I don't think a dedicated view would be inappropriate.

[2017-02-08 09:48] ZwodahS commented on #40
alrighty, let me see what I can do =).

[2017-02-08 09:53] Benaiah commented on #23
@Eraden thanks for checking in - I suspected it was a bug in hyper, given there have been no reports from users with other terminals. I doubt that there's anything we can do in wuzz to fix this, especially without affecting the working behavior in most terminals. Given that, I'm going to close this issue.

@acarl005, please feel free to let me know if you don't think that's an accurate take on the

[2017-02-08 09:53] #23 closed

[2017-02-08 11:51] Aminadav opened #41 "When submiting new url the response cursot not going to top"
1. I am requesting a page
2. I go to the response (F9), and scroll all the way down. (200 lines)
3. I am requesting a new page that is very short (3 lines)
4. BUG: I don't see nothing in the response window.

Why? Because I need to go to response, and go all the way up.

If it was someone else, he will not know that he should scroll up. He just see a blank response.

Suggest for fixing: Do that, i

[2017-02-08 13:10] daveroberts opened #42 "v.Editor undefined"
[code]

[code]

[2017-02-08 21:47] Benaiah commented on #42
I can't repro this (also on Linux, but go 1.6) - I'll see if I can test with go 1.7.5 and see if it repros.

[2017-02-09 03:20] dmuth commented on #12
Alrighty, I'll look into this and keep you posted!

[2017-02-09 04:34] andybradshaw commented on #38
While `~/.config` is likely fine, respecting [`$XDG_CONFIG_HOME`](https://specifications.freedesktop.org/basedir-spec/basedir-spec-0.6.html) if it's defined on Linux is probably a good idea.

[2017-02-09 21:35] #26 closed

[2017-02-09 23:37] georgijd commented on #38
The home directory seems the more natural choice to me as most people have means of dumping all their config files in there. As to file format, anything would do, really. TOML seems perfectly fine and we could support YAML as well, if there's a demand for that.

[2017-02-10 01:25] #41 closed

[2017-02-10 02:35] Benaiah commented on #38
@asciimoo I've made an edit to my version of the wiki with a suggested modification to the config file format - see https://github.com/Benaiah/wuzz/wiki/Config-file-draft, moving the strings under "keys" to "keys.global". The commit message explains my thought process, but it's a pain to view wiki commits so I've copied it here:

---

## Change "keys" table to use "keys.global" instead of bare str

[2017-02-10 06:58] lion-man44 opened #46 "Japanese support"
Hi!

This tool is awesome!
I'm using it right away.

By the way, do you support Japanese?

Example:
I entered "あいうえお"(aiueo).

![2017-02-10 15 57 26](https://cloud.githubusercontent.com/assets/3148294/22817287/ac0ab7ce-efa9-11e6-990a-a35d98c1db69.png)

[2017-02-10 10:40] asciimoo commented on #38
Totally agree, it makes sense.

Oh wow! I'm excited about it =]

Sure, it is a huge step and great addition without the keybindings too, and we can implement that later

[2017-02-10 12:17] OJFord commented on #12
@dmuth You can use the latest SHA in the mean time, which will enable you to `brew install` it since your local brew will have the formula, but you're right the Homebrew folks won't merge it unless it points to a versioned release.

Easiest way is to tag a release, e.g. `git tag v0.1 && git push --tags`; then [Github's releases section](https://github.com/asciimoo/wuzz/releases) will automatically

[2017-02-10 14:17] somebehemoth opened #48 "POST data broken?"
Awesome tool!  I have a question.  The following request returns HTTP status code 415:
wuzz -X POST -d "name=request-size-limiting" http://localhost:8001/apis/mockbin/plugins/

Whereas the following curl command works as expected against the same API:
curl -X POST --url http://localhost:8001/apis/mockbin/plugins/ --data "name=request-size-limiting"

I've tried various permutations of the POST data

[2017-02-10 14:29] asciimoo commented on #48
@somebehemoth probably your webapp requires correct content-type header to accept post data.
Try to add `-H 'Content-Type: application/x-www-form-urlencoded'` to the request

[2017-02-10 14:30] somebehemoth commented on #48
@asciimoo Thank you, that works exactly as expected.

[2017-02-10 16:20] cyberj commented on #42
Maybe your version of gocui is too old. Try :
[code]

[2017-02-10 16:55] daveroberts commented on #42
I updated gocui and wuzz installed without issue.  Is there a way to specify a version dependency of gocui on wuzz so this doesn't happen to others?

[2017-02-10 20:00] daveroberts opened #49 "Ignore Invalid SSL cert"
Feature Request: Allow invalid certificates to be ignored

[2017-02-10 23:57] Benaiah commented on #48
@asciimoo should we set the `Content-Type: application/x-www-form-urlencoded` by default on POST requests, at least when setting from the command line? The given example seems to indicate that cURL does this, so we might want to emulate that behavior.

If not, this issue should be good to close.

[2017-02-11 00:06] asciimoo commented on #48
Yes, this is definitely a good idea, I'll do it.

[2017-02-11 00:12] #48 closed

[2017-02-11 01:35] asciimoo commented on #12
@dmuth thanks the detailed information. I created an initial release and uploaded the binaries: https://github.com/asciimoo/wuzz/releases

[2017-02-11 02:04] Benaiah commented on #38
Cool! I've pushed my wiki changes, and the config branch continues to go pretty well.

[2017-02-11 12:41] Benaiah commented on #38
I've submitted my config branch as PR #51! I'd appreciate any help testing of some of the edge cases - particular areas of note include the command-line argument for specifying a config file (`-c <file>` or `--config <file>`), as it's parsed differently than the other arguments; invalid values for the various config settings; and different combinations of internal logic errors. Thanks everybody!

[2017-02-11 21:16] Benaiah commented on #38
This has been closed by the merge of PR #51.

[2017-02-11 21:16] #38 closed

[2017-02-11 21:41] cyberj commented on #42
With the future dependency management tool : https://github.com/golang/dep but not production ready :)

[2017-02-12 00:09] daveroberts commented on #42
Until Go has proper dependency management it may be worth adding this information to the installation instructions.

[2017-02-12 10:01] caedn commented on #22
I see that ctrl-j/k jump to the next/previous field, I think ctrl-h/l to jump between columns would be very useful as well.

[2017-02-12 16:52] asciimoo commented on #49
added in #54

[2017-02-12 16:52] #49 closed

[2017-02-12 17:05] daveroberts commented on #42
I saw that a feature was added to wuzz in order to support insecure SSL certs.  I removed the wuzz source and re-downloaded the code and got a different error:

[code]

I removed the jroimartin/gocui code, re-downloaded that, then re-downloading wuzz, and now wuzz works.  This information may be helpful to other confused users.

[2017-02-12 17:13] OJFord commented on #21
:+1: I can reproduce this.

[2017-02-13 13:44] justinas commented on #22
Alternatively, I would suggest an option of Readline/Emacs keybindings. Ctrl-A, Ctrl-E, Alt-F, Alt-B like in the shell would be super useful.

[2017-02-14 04:37] tehbilly commented on #42
Might want to vendor dependencies. Don't have to use `go dep` to do that. Glide works well, and is likely to be very similar to the linked utility.

[2017-02-14 06:23] asciimoo commented on #27
implemented in #39

[2017-02-14 06:23] #27 closed

[2017-02-14 06:31] asciimoo commented on #46
This is definitely a bug, most probably in the gocui dependency - I can reproduce it in a bare gocui app.

[2017-02-15 14:23] akkuman opened #56 "go install fialed"
[code]

[2017-02-15 14:33] akkuman commented on #56
my go version is go-1.6

[2017-02-15 16:10] trobotham commented on #56
having the same exact issue

[2017-02-15 16:15] asciimoo commented on #56
Seems, `jsoncolor` repo fails somehow. I cannot reproduce with go 1.7. @nwidger do you have any idea?

[2017-02-15 16:16] rigrassm commented on #56
Think it's probably from the jsoncolor packages recent commit.: https://github.com/nwidger/jsoncolor/commit/3709c0e10f63511e81353d16590b6d414d3a13e4

[2017-02-15 17:06] nwidger commented on #56
@asciimoo SetEscapeHTML was added in Go 1.7: https://golang.org/pkg/encoding/json/#Encoder.SetEscapeHTML which means wuzz needs Go >= 1.7 installed to build.

What is the minimum Go version that wuzz is expected to support?

[2017-02-15 17:11] asciimoo commented on #56
Good question. Currently travis only tests go-1.7.5 and the latest go release.
What do you suggest?

[2017-02-15 17:16] nwidger commented on #56
I believe this commit fixes the issue and allows jsoncolor to build on older Go versions: https://github.com/nwidger/jsoncolor/commit/75a6de4340e59be95f0884b9cebdda246e0fdf40

[2017-02-15 17:24] trobotham commented on #56
confirmed, it works

[2017-02-16 13:44] ZloeSabo commented on #12
As there were no activity and I neede it, i've created my homebrew formula to install wuzz.
You can find it [here](https://github.com/ZloeSabo/homebrew-nettools).
For now audit complains that your repo is not 30 days old, but later I will try to make PR to one of official repos.

[2017-02-16 15:57] petersondmg opened #61 "Text pasted from clipboard gets messed"
When pasting a long text from clipboard (e.g. when pasting cookies from browser into headers section) it get messed

[2017-02-16 21:48] rohanthewiz opened #63 "What format for Post data"
I have tried POSTing some data, however the server gets blank data. What is the expected format for POST, and PUT data?
`title="My Good Book"` and similar combinations don't work

Perhaps a line in the README would help out.
Thanks!

[2017-02-16 21:56] asciimoo commented on #63
@rohanthewiz isn't this related to #48?

[2017-02-16 22:02] rohanthewiz commented on #63
Oops. Thanks! I needed `Content-Type: application/x-www-form-urlencoded`
Awesome!

[2017-02-16 22:04] asciimoo commented on #63
Still, it would be good to document this.

[2017-02-16 22:04] rohanthewiz commented on #63
Perhaps we could dump that text into request headers on switch to POST in the UI. That'd be nice :-D

[2017-02-16 22:11] rohanthewiz commented on #63
Maybe that string could be provide in the help too.  This is a FANTASTIC presentation tool esp. to devs, so making it easy to switch between GET and POST just makes it that sweeter.  Perhaps in the long run, a novice and expert mode, saving settings to a config file.
THANKS!

[2017-02-16 22:41] mikegleasonjr commented on #61
So disappointed when I encountered this. I wanted to use this tool badly.

[2017-02-16 23:31] asciimoo commented on #61
@petersondmg, @mikegleasonjr could you confirm that 0568b27 fixes the issue?

[2017-02-17 00:31] mikegleasonjr commented on #61
[code]

[2017-02-17 00:35] asciimoo commented on #61
@mikegleasonjr seems, your `gocui` dependency is out-of-date. Run `go get -u github.com/jroimartin/gocui`, to update the gocui package too.

[2017-02-17 01:12] mikegleasonjr commented on #61
Amazing thanks. It is getting better and better 👍

[2017-02-17 03:56] dmuth commented on #12
@ZloeSabo No worries. 👍   I got caught up with some real life obligations and I'm actually happy you did that because I was not aware it was **that** easy to create a tap.  Going to keep that approach in mind for the future. :-)

[2017-02-17 03:56] #12 closed

[2017-02-17 11:42] petersondmg commented on #61
Its working great! Many thanks! 😄

[2017-02-17 11:42] #61 closed

[2017-02-17 14:00] mrpatiwi commented on #9
I would like to add:
[code]

To start with `Content-Type` and `Accept` headers set to `application/json`

[2017-02-17 20:12] dbogatov opened #65 "Save requests"
Hi,

First of all, thank you for the utility. It is just great!

I wanted to propose a feature (which will let me forget about CocoaRest app) of saving requests (with its parameters.

Usually, how I use the utility, I have some small number of requests that have to work on my API.
I test my API (same endpoints) with the utility until they work.

It would be much easier for me if I could save the r

[2017-02-19 01:33] Benaiah commented on #9
@mrpatiwi could you start a new issue for the `--json` flag? I'm closing this one since both the original feature requests have been implemented.

[2017-02-19 01:33] #9 closed

[2017-02-19 15:07] zbb93 commented on #65
I may take a stab at this later today/tomorrow. I was thinking something along the lines of `wuzz -o /path/to/file` will open the app with all of the windows populated. Just `CTRL + r` to run the request. Additionally I was thinking it may also be nice to have a feature where as requests are made they are stored in a history. Then if you wanted to execute a previously executed command you could us

[2017-02-20 04:03] williamn opened #67 "JSON API content type"
Hi,

I am using Wuzz to test my JSON API endpoint. The problem is Wuzz doesn't format the response body. From the code I see that Wuzz only format if the config is true and Content-Type is `application/json` while JSON API require the server endpoit return the Content-Type as `application/vnd.api+json`.

Do you have suggestion to solved this?

You've done a great work with Wuzz.
Thank you.

[2017-02-20 07:20] nigurr opened #69 "Home/End doesn't work in other areas except URL"
Hi,

When I try to use Home/End in Headers/URL Params areas, it doesn't navigate.
It works only in URL :(

[2017-02-20 07:21] nigurr commented on #22
Can we add support for vim? so that delete line is easy :) currently i don't have option for this

[2017-02-20 08:52] krishna-pandey commented on #49
Sorry for the spam, but with insecure=true and path to modified config worked. Thanks.

[2017-02-20 12:12] mrpatiwi opened #70 "[Feature request] --json flag"
I would be really helpful to init `wuzz` with a `--json` / `-j` flag and automatically set the `Content-Type` and `Accept headers` set to `application/json`.

Example:
[code]

[2017-02-20 12:28] ieatmumble commented on #22
Hi,

Indeed, it would be really helpful to be able to delete one row of text, along the lines of `dd` in vim or `ctrl`+`k` in nano, at least for the cases when the text is pasted from a different source, in bulk.
Along the same lines, being able to delete everything to the left on the same row and everything to the right would be extra helpful.

Thanks a lot for this useful and promising tool!

[2017-02-21 06:15] Dima4ka commented on #65
I like these proposals!

As for `wuzz -o /path/to/file`, it would be nice if that config contained multiple request infos, or the full "history".

As for the history itself, sometimes I do stupid typos or just figure out a correct way of making a request. So I would not store each an every request, but rather the latest for the given unique URL.

I do love `Ctrl + r` idea! It is so annoying to pre

[2017-02-21 23:35] asciimoo commented on #70
A shell alias can be defined as a workaround.
E.g.: `alias wuzz-json='wuzz -H "Accept: application/json" -H "Content-Type: application/json" -X POST -d'`, and you can execute `wuzz-json '{"x": 3}'` or `wuzz-json "$(cat xy.json)"`

[2017-02-23 00:07] #67 closed

[2017-02-23 00:14] #56 closed

[2017-02-23 00:26] nwidger commented on #67
Perhaps we should be using https://golang.org/pkg/mime/#ParseMediaType to parse the Content-Type header?

[2017-02-23 00:32] asciimoo commented on #67
@nwidger yap, definitely that would be the proper solution.

[2017-02-23 00:32] nwidger commented on #67
@asciimoo I'll try and send a PR for that in a few.

[2017-02-23 00:37] asciimoo commented on #67
@nwidger awesome! thank you.

[2017-02-23 02:24] williamn commented on #67
@asciimoo thank you 👍

[2017-02-23 03:45] williamn commented on #67
I have tried the new code, I just find out that my endpoint return `Content-Type: application/vnd.api+json; charset=utf-8` and wuzz failed to recognize it as JSON. Perhaps because of the `charset`? What do you think?

[2017-02-23 08:12] ZacharyDuBois opened #72 "Add to package managers"
Can you add this to package managers such as Homebrew, Debian repos, etc? This is a great tool! :)

[2017-02-23 11:36] nwidger commented on #67
@williamn I'm pretty sure `mime.ParseMediaType` handles parameters correctly.  Here's a Playground link showing it's behavior with `application/vnd.api+json; charset=utf-8`:

https://play.golang.org/p/F1H0FnDFgg

Are you sure the `formatJSON` config option is enabled and that the JSON body being returned is properly formatted?  Either of those would prevent wuzz from colorizing a JSON response des

[2017-02-23 18:46] Benaiah commented on #72
I couldn't say what we need for Debian, but Homebrew inclusion requires the repo to be 30 days old. Until then, @ZloeSabo has a formula you can tap here: https://github.com/ZloeSabo/homebrew-nettools

[2017-02-24 15:06] ieatmumble opened #73 "Ability to use proxy"
It would be really useful to be able to provide a use http(s) proxy option, along the lines of `-x` in cURL.

Thanks for this utility!

[2017-02-24 15:11] williamn commented on #67
@nwidger yes, I got `formatJSON = true` in my ~/.wuzz/config.toml and my JSON response is valid. Is there any other way to test?

[2017-02-24 20:47] nwidger commented on #67
@williamn Is there a `wuzz` incantation for a public API endpoint that you can provide that exhibits the bad behavior you're seeing?

[2017-02-24 21:35] #73 closed

[2017-02-24 21:37] asciimoo commented on #73
@ieatmumble `HTTP_PROXY` environment variable is also supported

[2017-02-24 21:39] asciimoo commented on #70
added in 64a6272

[2017-02-24 21:39] #70 closed

[2017-02-25 02:45] #31 closed

[2017-02-25 17:30] hibooboo2 opened #75 "Master is broken."
Cannot compile master.

[2017-02-25 17:31] hibooboo2 commented on #75
Nvm I had to run go get -u ./... gocui was out of date. Changed ASCII constant from lower to upper case.

[2017-02-25 17:31] #75 closed

[2017-02-26 01:29] ZacharyDuBois commented on #72
Awesome thanks! 👍

[2017-02-27 10:53] williamn commented on #67
@nwidger I create a mock of my endpoint here http://www.mocky.io/v2/58b404b3110000c7191c4371

[2017-02-27 10:56] asciimoo commented on #67
@williamn this works well for me. `wuzz http://www.mocky.io/v2/58b404b3110000c7191c4371` displays the highlighted and formatted json.

[2017-02-27 11:13] williamn commented on #67
@asciimoo hmm. That's strange. Here is my result

![image](https://cloud.githubusercontent.com/assets/27722/23359359/7658a402-fd18-11e6-9aca-af681b110846.png)

[2017-02-27 11:30] asciimoo commented on #67
Strange...
Here is my output of running `wuzz -c /dev/null http://www.mocky.io/v2/58b404b3110000c7191c4371` (default config):
![wuzz](https://cloud.githubusercontent.com/assets/20240/23359745/094a5a5c-fce8-11e6-99b9-38911e998398.png)

[2017-02-27 11:37] williamn commented on #67
@asciimoo I tried to use `wuzz -c /dev/null http://www.mocky.io/v2/58b404b3110000c7191c4371` but in my side the result is the same :grin:

[2017-02-27 11:39] asciimoo commented on #67
@williamn what is your go version? i'm using `go version go1.8 linux/amd64`

[2017-02-28 10:59] williamn commented on #67
@asciimoo here is mine `go version go1.7 linux/amd64`

[2017-02-28 12:56] nwidger commented on #67
@williamn Perhaps try building in a fresh GOPATH to rule out any stale dependencies?

[code]

[2017-02-28 14:38] drzero42 opened #76 "Add ability to not automatically follow redirects"
Awesome tool. Currently it automatically follows things like HTTP 301/302/303, which makes it difficult to debug services that do redirects. A way to turn off following redirects would be very nice to have.

[2017-02-28 22:40] tedyoung opened #77 "Support SOCKS5 proxying"
It looks like only HTTP[S] proxying is supported, would be great to support SOCKS5 proxies as well. I've used https://godoc.org/golang.org/x/net/proxy#SOCKS5 to communicate over a SOCKS5 proxy.

[2017-02-28 22:42] tedyoung opened #78 "Why AGPL?"
Are you planning on commercializing this tool? Otherwise I'm unclear as to why AGPL was selected -- this would bar me from using it at work.

[2017-02-28 23:04] stef commented on #78
why does the AGPL bar you from using it at work? do you have some special work contract that prohibits you to use agpl services online? if so,you might want to look for a more ethical employer.

[2017-02-28 23:08] Benaiah commented on #78
I understand that AGPL may cause trouble when the licensed code is used as part of a larger application, as the AGPL wouldn't allow you to run a closed-source SAAS with AGPL components, for instance. I don't really understand the concern when it comes to wuzz, though, as wuzz is entirely user-facing (at least for the time being) - there's not really a way to use it as part of a larger product. As

[2017-03-01 00:52] tedyoung commented on #78
Because lawyers? It's a barrier and whether the barrier is valid or not, why put up the barrier in the first place? GPL would be fine and serve the same purpose, no?

Again, I'd understand the desire for AGPL if commercialization was happening, but the entire point of AGPL is stated as:

Since this would never be used on servers as part of a service, the AGPL seems to needlessly restrict its usage

[2017-03-01 01:02] stef commented on #78
in this case the AGPL == GPL it seems. the only problem seems to be with as you say your laywers, maybe the root cause needs fixing, not the symptom?

[2017-03-01 01:11] tedyoung commented on #78
I totally agree, but given the size of my company, that's not really an option. Personally, I'd love for them to be less paranoid about it, but that's not the reality I live in.

If there's no desire to change it, that's cool, it's not my project, but it'd be unfortunate as I'd love to contribute.

[2017-03-01 01:12] Benaiah commented on #78
@tedyoung sorry, I'm a little unclear - is the legal issue at your company a problem with you *using* wuzz or *contributing* to it?

[2017-03-01 01:16] tedyoung commented on #78
@Benaiah Unfortunately at my company it's a problem to even download it (without prior legal approval). So I can neither download, use, nor contribute to code that is AGPL.

[2017-03-01 01:21] Benaiah commented on #78
@tedyoung that's quite unfortunate; sorry you're in that predicament.

I totally understand your position - the AGPL in particular is pretty scary from a corporate lawyer's perspective. In this case it shouldn't be an issue, but lawyers are lawyers and nixing AGPL software altogether is a lot less work than actually understanding the effects of it in each particular case.

I've talked with @asciim

[2017-03-01 03:41] williamn commented on #67
@nwidger it works! what seems to be the problem?

[2017-03-01 04:23] #77 closed

[2017-03-01 06:50] bohler commented on #46
<img width="637" alt="default" src="https://cloud.githubusercontent.com/assets/13446772/23448782/f1783f5a-fe8d-11e6-82dd-ea6520a41f79.png">
Some languages have two characters in one word

[2017-03-01 11:44] nwidger commented on #67
@williamn If that worked then it could be a couple of things:

What does `which wuzz` return?  If it doesn't return `$GOPATH/bin/wuzz`, then you've been running some other `wuzz` binary from an entry in your `PATH` environment variable.  You should either delete those versions of `wuzz` or reorder `PATH` such that `$GOPATH/bin` is searched sooner.

It's also possible you have been running `$GOPATH

[2017-03-02 02:28] asciimoo commented on #76
added: 3e3f114

[2017-03-02 02:28] #76 closed

[2017-03-02 02:59] williamn commented on #67
@nwidger thanks. I reinstall the package and it's fine now.

[2017-03-02 07:22] drzero42 commented on #76
Thanks :)
However, it is not entirely there:
[code]

[2017-03-02 09:42] asciimoo commented on #76
@drzero42 try to use go >= 1.7

[2017-03-02 10:10] adambro commented on #72
It's already in AUR https://aur.archlinux.org/packages/wuzz/

[2017-03-03 10:26] drzero42 commented on #76
It works with Go 1.7, thank you.

[2017-03-03 14:06] pervak opened #81 "reference to undefined identifier ‘json.Delim’"
Hello!

 I try to install the package using go
`get github.com/asciimoo/wuzz`
but get an error
`gocode/src/github.com/nwidger/jsoncolor/jsoncolor.go:197:19: error: reference to undefined identifier ‘json.Delim’
  printObject func(json.Delim)`

How can I fix it?

[2017-03-03 14:22] Benaiah commented on #81
@pervak have you tried `go get -u nwidger/jsoncolor`, to ensure you're working with the latest version of that package?

[2017-03-03 14:32] pervak commented on #81
@Benaiah try to use your command and got the similar error:
`gocode/src/github.com/nwidger/jsoncolor/jsoncolor.go:197:19: error: reference to undefined identifier ‘json.Delim’
  printObject func(json.Delim)`
It seems like this variable (json.Delim) doesn't defined in my environment. Any ideas?

[2017-03-03 15:21] chillum opened #82 "F* keys can be tricky to use, so they should be customizable"
Many modern keyboards do not offer easy access to F* keys (they more tend to be multimedia ones by default) and pressing Fn+F3 is not very convenient in such case.

I believe, those keybindings are hardcoded now, but in future it's best to have them use-customizable as well.

[2017-03-03 17:21] Benaiah commented on #82
@chillum These keybindings are already configurable - see https://github.com/asciimoo/wuzz/blob/master/config/config.go#L60-L67.

[2017-03-03 17:22] chillum commented on #82
thanks. it seems like adding them to example config is not a bad idea

[2017-03-03 17:26] Benaiah commented on #82
Sure - I'll reopen this as a docs issue and make a PR. The sample config should really have the whole default config in it for reference purposes.

[2017-03-03 18:06] asciimoo commented on #82
added in 9ed7a7d4049a54bae8617d860921497d96ecf2be. Thank you @Benaiah

[2017-03-03 18:06] #82 closed

[2017-03-03 21:20] jacksgt commented on #72
I'm currently in the process of creating a Debian package, stay tuned :-)

[2017-03-06 13:33] cctse opened #86 "panic: runtime error: invalid memory address or nil pointer dereference"
on mac mini

[code]

[2017-03-06 20:03] cryptobird commented on #86
Bump; I got this same error on my macbook pro

[2017-03-06 20:04] Benaiah commented on #86
Is this happening on startup or is something else triggering it?

[2017-03-06 23:55] #86 closed

[2017-03-07 03:17] cctse commented on #86
thanks

[2017-03-07 08:13] Lupin3000 commented on #81
I had this on Debian 8 (via apt install golang). After install 1.7version of go (https://www.digitalocean.com/community/tutorials/how-to-install-go-1-7-on-debian-8) ... this issue was gone for me.

[2017-03-08 08:30] ieatmumble commented on #73
That was really fast, thank you!

[2017-03-09 14:37] Fjolnir-Dvorak opened #87 "[Windows] Vertical resize only expanding view"
The view is not resized to a smaller size if I am descreasing the vertical axis of the terminal. Tested on windows 10 Powershell, cmd, GitCMD. Well, powershell is special because here only the enlarenment is working...

[2017-03-09 14:56] Fjolnir-Dvorak commented on #87
I added this as an issue to gocui. It is not registering a change in negative change to the height. [gocui Issue 102](https://github.com/jroimartin/gocui/issues/102)

[2017-03-13 02:17] achernyak opened #88 "panic: invalid arguments"
I am getting the below error when trying to run `wuzz` with no arguments. I am using ubuntu bash on windows to run this.

[code]

[2017-03-13 02:23] Benaiah commented on #88
@achernyak what's your Go version?

[2017-03-13 02:50] achernyak commented on #88
I was originally on `1.7.4` then I tried upgrading to `1.8.0` and still the same exact error.

[2017-03-13 09:35] asciimoo commented on #88
@achernyak what is your operating system/terminal? Seems gocui cannot start in 256 color mode.

[2017-03-13 09:52] wngmnheiko opened #89 "Improve infos about requests"
I'd like have more infos about the requests actually sent.

If I have the URL "http://google.com" I'd like to see the actual request sent (with the "/" as path).
If there is a redirect I'd like to see the actual redirects with all the data going back and forth.

[2017-03-13 09:53] wngmnheiko opened #90 "Support different HTTP protocol versions"
Let the user choose the HTTP version to use for the request: 1.0/1.1/2.

[2017-03-13 10:09] asciimoo commented on #89
@wngmnheiko you can disable the automatic redirection with the `-R`/`--disable-redirects` flags.

[2017-03-13 13:19] achernyak commented on #88
I am on windows 10 running `Bash on Ubuntu on Windows`. It seems that they do have 256 color support and my terminal is identified as `xterm-256color` by default. I do believe this is a platform specific issue since it works everywhere else. So might be worth just putting in a note about support.

[2017-03-14 01:09] asciimoo commented on #88
@achernyak could you confirm that fa4c1e8 solves the problem?

[2017-03-14 03:32] achernyak commented on #88
Thanks for the really quick work around on this. However, it looks like there is still an error further down the code. The error moved now.

[code]

[2017-03-14 03:41] asciimoo commented on #88
So the problem isn't the 256 color mode.. strange..

[2017-03-14 03:44] achernyak commented on #88
@asciimoo It is still getting thrown in the same expression actually. `OutputNormal` seems to be throwing too. I was trying to set it to `OutputGrayscale` which seems to be supported by `termbox` which is used by `gocui` but `gocui` doesn't export it as an options.

[2017-03-14 03:58] asciimoo commented on #88
@achernyak and does it work in your terminal?

[2017-03-14 04:07] achernyak commented on #88
@asciimoo no still no luck with it. I was not able to get it to set to `OutputGrayscale` looks like `gocui` only supports `OutputNormal` and `Output256`.

[2017-03-14 04:09] asciimoo commented on #88
@achernyak you can cast it to the correct type:
[code]

[2017-03-14 04:27] asciimoo commented on #88
@achernyak could you test e6f5674 ?

[2017-03-14 09:39] wngmnheiko commented on #89
Had an older version running. But -R/--disable-redirects is nice. Now I want a shortcut to just follow the redirect, so that I can step through to the final destination and inspect all the intermediate requests.

[2017-03-14 11:53] achernyak commented on #88
@asciimoo unfortunates it looks like I am still getting a panic there...

[code]

[2017-03-14 12:03] asciimoo commented on #88
Hmm, then, the problem isn't the color mode..

[2017-03-17 10:04] yu-liao opened #92 "Can't toggle history with Alt+H in Mac"
I `go get` the wuzz, and `go install`. I find the alt+H don't toggle history. In Mac, alt+H print `˙`.
The Mac is `Sierra`.

[2017-03-20 15:38] asciimoo commented on #92
I can confirm, it isn't mac specific. It stops working after closing the external editor.
@yu-liao  could you verify that 8b38235 fixes the issue?

[2017-03-21 01:09] yu-liao commented on #92
@asciimoo I pull the 8b38235, and go install. The bug is not fixed.

    $ git log -n 1
    commit 8b38235ec1aa0452793fc5761255e1a92e31eb20

[2017-03-21 07:36] asciimoo commented on #92
@yu-liao what terminal emulator do you use?

[2017-03-21 10:15] yu-liao commented on #92
@asciimoo The native shell under Mac.

[2017-03-24 07:18] lion-man44 commented on #46
https://github.com/jroimartin/gocui/pull/74

Waiting for this PR...

[2017-03-24 14:21] ieatmumble commented on #92
@yu-liao do you have the "Use option as meta key" option enabled?

[2017-03-24 15:32] karlbateman commented on #20
Wuzz dies when accessing `brotli` encoded data i.e.

[code]

Gives me the following error
[code]

[2017-03-24 22:05] asciimoo commented on #20
@karlbateman, the standard http lib in go can't decode brotli compressed responses.
I added a more graceful error handling in 07ede4e .

[2017-03-25 12:23] karlbateman commented on #20
@asciimoo Handling that gracefully is great 👍

[2017-03-26 14:34] yu-liao commented on #92
@asciimoo You are right. After I enable "User option as meta key", alt + H toggle history.

[2017-03-27 17:26] asciimoo commented on #92
It was answered by @ieatmumble - thank you. =]

[2017-03-27 17:26] #92 closed

[2017-03-30 15:34] MrSaints commented on #90
AFAIK, Go always uses HTTP/1.1. You can't use 1.0.

[2017-04-01 16:22] WellerQu opened #95 "Error: ./wuzz.go:1605: undefined: http.ErrUseLastResponse"
when I typed "go get github.com/asciimoo/wuzz" in zsh, I get the error in title.
[code]

Help me, please. Thanks ^_^

[2017-04-01 17:07] asciimoo commented on #95
@WellerQu try it with go version >=1.7
Feel free to reopen if it doesn't help

[2017-04-01 17:07] #95 closed

[2017-04-05 05:24] clayclayclay opened #96 "unable access"
when I entered the command: go get github.com/asciimoo/wuzz, It occured the below error:
fatal: unable to access 'https://github.com/asciimoo/wuzz/': Received HTTP code 302 from proxy after CONNECT
package github.com/asciimoo/wuzz: exit status 128.
Could anyone give me some advice?
Thank you!

[2017-04-05 08:59] dguihal opened #97 "Wuzz compile error"
./wuzz.go:1605: undefined: http.ErrUseLastResponse (golang version 1.6.2)

Seems that a there is a minimal requirement for golang, maybe this could be added to the README ?

[2017-04-06 13:27] #97 closed

[2017-04-08 04:49] WellerQu commented on #95
Thanks @asciimoo , I resolved it. You are right.

[2017-04-10 06:14] nashuiliang opened #99 "Complete request infomation"
Can provide a feature to render a complete request information?
I would like to check the complete request information, includes `URL`, `URL params`, `Method` and `Request Header`.
As follow:
[code]

[2017-04-17 18:33] jacksgt commented on #72
wuzz has been uploaded to [Debian unstable (sid)](https://packages.debian.org/sid/wuzz) and should soon also appear in Ubuntu.

Sorry for the long delay!

[2017-04-20 03:29] andradei opened #100 "Support for Trailers"
When the `Transfer-Encoding: chunked` header is used, `wuzz` could show the `Trailer` header and the Trailer data. Just like `curl`.

For example:

The [http.ResponseWriter](https://godoc.org/net/http#ResponseWriter) Trailer example sets Trailer headers, then sends the body, then sends the actual Trailer headers. The actual example is pasted below for convenience:

[code]

---

`curl --raw -v loca

[2017-04-21 07:19] ZacharyDuBois commented on #72
Someone poke Homebew about it now :)

[2017-07-20 20:55] colinta commented on #65
Now that #74 is merged, seems like this issue could be closed... I wanted to ask before that, though: how do we *load* a previous request?  Now that I've got my `Authorization: Bearer ...` and url and params set, it would be nice to be able to restore the request I saved.

Looking at the code now, but I'm not a go developer, so
![no idea what im doing](https://user-images.githubusercontent.com/275

[2017-07-20 20:56] colinta commented on #65
Ahha, `wuzz -f saved-request`.

[2017-08-25 09:08] carryxyh opened #104 "Why not integration the Httpstat？"
https://github.com/davecheney/httpstat

It will make the http request more distinct and show spend time in the http request.
The util is also written with GoLang.

[2017-08-25 09:08] marderchen commented on #104
MEOW! reveived the cute mailthingi.. and preparing a purr back maybe it takes a while
=^.^=

[2017-09-05 09:17] lfuelling opened #105 "Add option to ignore invalid TLS certificates"
It would be cool to have invalid certificates  ignored instead of the request not being executed.

[2017-09-05 13:52] asciimoo commented on #105
@lfuelling try `-k`/`--insecure` switches.

[2017-09-05 14:20] lfuelling commented on #105
🤦‍♂️

[2017-09-05 14:20] #105 closed

[2017-09-09 21:15] OJFord commented on #12
It's certainly old enough now, did you have another look @ZloeSabo or was there another issue? It's easy enough to `brew install ZloeSabo/nettools/wuzz`, but there's just something nicer (not to mention more secure) about installing from the main repo. 🙂

[2017-09-11 08:39] LestaD opened #106 "Add to homebrew"
Maybe add wuzz to homebrew repo?

https://docs.brew.sh/How-to-Create-and-Maintain-a-Tap.html
https://docs.brew.sh/Formula-Cookbook.html

[2017-09-13 20:21] ZloeSabo commented on #12
I've created a PR to add wuzz to the official repo Homebrew/homebrew-core/pull/18047
Lets cross fingers and wait till someone accepts it :)

[2017-09-13 20:22] ZloeSabo commented on #106
I've opened a PR for this Homebrew/homebrew-core#18047
It just needs some time to get merged.

[2017-09-13 20:26] ZloeSabo commented on #72
The PR for homebrew is here: Homebrew/homebrew-core#18047
Sorry for the delay

[2017-09-28 11:15] #65 closed

[2017-09-28 11:16] marderchen commented on #65
MEOW! reveived the cute mailthingi.. and preparing a purr back maybe it takes a while
=^.^=

[2017-10-06 01:54] dimakogan commented on #88
I ran into a similar issue while working with gocui on WSL Bash on Windows.
I think the root cause might be: https://github.com/Microsoft/BashOnWindows/issues/601

[2017-10-15 20:18] PouuleT commented on #10
Hello! I'd like to work on that part if that's ok
What would be the best approach ? Add some options to the export / save request functionality ?
Something like that ?
1- Hit the save request shortcut
2- Choose your format ( json / curl / wget / ... )
3- Choose your destination

Does it seems legit ?

[2017-10-15 20:35] asciimoo commented on #10
@PouuleT awesome! Both that you'd like to implement the feature and the way you suggested. =)
I really like the idea of choosing format on response save. 👍

[2017-10-18 22:35] #10 closed

[2018-05-27 16:23] jgrossophoff opened #109 "Request data missing when loading request from file"
When I load a request with `wuzz -f [FILENAME]` where the file contains `{"data":"foo=bar","get":"bar=baz","headers":"Accept-Charset: smth","method":"PATCH","url":"https://google.de"}`
the Request data field is blank.
Any thoughts? Am I doing something wrong?
Thanks in advance!

[2018-05-28 14:15] #109 closed

[2018-05-28 14:28] jgrossophoff commented on #109
Great! Thank you very much!

[2018-06-01 00:36] andradei commented on #106
@ZloeSabo That PR got rejected, unfortunately. The biggest issue now would be to make a test suite and get that accepted here before it we make a formula.

[2018-07-04 06:36] NsirNixp opened #110 "Simplified Chinese support error"

[2018-07-04 09:01] asciimoo commented on #110
Could you link an example URL?

[2018-08-09 23:38] crenshawthorpe opened #111 "Press F1 for help does not work."
F1 simply prints "11~" in whatever field I have selected.

Debian GNU/Linux 9.5

I always feel bad about my first contact with developers being a bug report or complaint; so I wanted you to know how cool I think this.  Thanks for your efforts!

[2018-08-26 15:44] johnyluyte commented on #110
May relate to #46 and https://github.com/jesseduffield/lazygit/issues/24, which all point to https://github.com/jroimartin/gocui/pull/74

[2018-08-28 20:33] sigzegv opened #112 "Any way to set a default path to save/load request ?"
I would like to be able to define a default path other than home to access my saved request, to not have to type full path to my requests every time.

[2018-09-07 00:20] Gowa2017 opened #113 "Can we save all request into single file?"
Like the title says.

When we want to load request from the file. When we input the keyword, wuzz will search in the saved file and get the only result.If there is many results, display a dropdown list, we can use the number 1,2,3 to select, or use the Up/Down do move, enter to select.

[2018-10-05 16:58] andradei commented on #100
Looks good. Thank you.

[2018-10-05 16:58] #100 closed

[2019-03-11 20:59] pabloab commented on #9
I don't see syntax highlight on Response body:

![image](https://user-images.githubusercontent.com/657836/54157146-7d1cdb80-4426-11e9-9a3a-29fbb324e72a.png)

I think the idea is to toggle syntax highlight (and even beautify) regardless if it is HTML XML JSON YAML or whatever.

BTW, would be great:

- In case of HTML a _toggle render_ shortcut.
- A shortcut to see completely the http request to sen

[2019-09-04 19:02] patrickwilmes commented on #111
Hey,

I tried to reproduce the bug using Debian GNU/Linux 9.5 but for me it worked. For me this sound like F1 is sending a wrong escape sequence.

[2019-10-03 15:48] iDevoid commented on #89
Dear @asciimoo
I am first timer to contribute on open-source code, can I try to work on this?
if so, what key would you like to add as the toggle?
I tried made some changes on your code, the result looks like this. (currently the toggle uses F12 on `ALL_VIEWS`)
please tell me your opinion :pray:
if you agreed with this, I'm gonna organize my code and then raise the PR. thank you

![Screenshot from

[2019-10-03 16:56] iDevoid commented on #89
Dear @asciimoo and @wngmnheiko
Would you mind checking if #118 fixed this issue?
if it doesn't please write down your opinion and advice. Thank you  :pray:

[2019-10-07 12:07] asciimoo commented on #89
@iDevoid it is a great improvement, thanks.

[2019-10-07 12:07] #89 closed

[2019-10-10 00:01] Boot-Error commented on #113
Can this be a bookmark like implementation?

Let's say you wrote a Request, and you want to use it again, just bookmark it. It gets saved to a file.

I find this really useful, and would like to implement it!

[2019-10-14 14:26] gmelodie commented on #90
According to [the docs](https://golang.org/pkg/net/http/#Transport) it is possible to choose between HTTP 1.1 and 2 **if using HTTPS**. However, when using **HTTP* only version 1.1 is supported.

Should we move on with this?

[2019-10-28 11:06] jgrossophoff opened #121 "Can't run wuzz anymore. Fails with 'Error! Unknown command: redirects'"
Version:
Current master branch [50647fdd1216f822a6a621c15cce6a3fa0a4af4d]

Problem:
wuzz can't run anymore. Exits with
`Error! Unknown command: redirects`
regardless of flags/arguments.

Solution:
Check out to 763e9bee1f254bfb2635cce964a173032ae1c8bd, the commit before `Merge pull request #118 from iDevoid/redirect_restricted_mode_toggle` [9e930188a7ef73a746b6b021953579bd5900e891]

OS:
Manjaro Lin

[2019-11-24 03:16] lfelia commented on #121
Having this same issue. Also used OPs remedy

[2019-11-26 16:15] #121 closed

[2019-12-11 13:24] developer-guy opened #123 "adding new shorcut which does clear all tabs in once"

[2020-02-27 20:01] gromovadarya90 opened #126 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-04-03 13:31] Cupprum opened #127 "Paste insert spaces between characters"
When i try to paster longer text then windows, it start putting spaces between characters, which are after the end of screen. So for example if Request Data window is 80 chars wide and i try to past 100 chars into it. First 80 chars will be okay, and the other 20 would have spaces between them. I tried this fix https://github.com/asciimoo/wuzz/issues/61 but nothing happend.

Looking forward for yo

[2020-04-04 22:51] asciimoo commented on #127
Thanks for the report, I can reproduce the issue. Further investigation required to fix the issue. While it isn't resolved, you can specify request data with the -d flag (e.g. `wuzz -d '************************************************************************************************************************'`)

[2020-05-11 20:33] mosiman commented on #127
A bit late, but I work around this by using `ctrl+o` to open the editor and pasting in there. Hope it helps!

[2020-05-14 13:40] zPrototype opened #128 "Unrecognized import path"
I tried to install it via "go get github.com/asciimoo/wuzz" and it threw the following errors:
unrecognized import path "bytes": import path does not begin with hostname
unrecognized import path "compress/gzip": import path does not begin with hostname
unrecognized import path "crypto/tls": import path does not begin with hostname
unrecognized import path "encoding/json": import path does not begi

[2020-05-18 23:39] asciimoo commented on #128
Seems like it cannot find the standard library. Can you install other go applications?

[2020-05-19 08:08] gitschneider opened #129 "termbox: unsupported terminal with tmux"
I'm using tmux with `$TERM` set to `tmux-256color`, which is the recommended setting to enable italics. Unfortunately termbox does not support this TERM and wuzz panics with the following message:

[code]

A quick workaround is of course to start wuzz with a differen `$TERM` like

[code]

or even set an alias to this. Then wuzz works without problems.

The biggest problem might be, that termbox is

[2020-05-19 20:08] asciimoo commented on #129
I'm using tmux with `screen-256color` `TERM` value, and it is fine for both wuzz and tmux and other terminal applications.

That's a real issue indeed. We can fork it or switch to another dependency.

That's also a good idea as a quick solution, could you work on it?

[2020-05-20 12:33] gitschneider commented on #129
Interestingly enough I have no problems with a locally built version (master and v0.4.0).
As I am not able to reproduce the error I don't think it's too good to implement this hacky workaround with altering the $TERM variable.

Main Problem is the lacking support for italics in `screen`

Apparently `gocui` is also not really supported anymore. The most promising fork seems to be https://github.com

[2020-05-20 19:01] asciimoo commented on #129
Great, lets do this. Thanks for the info. =]

[2020-05-29 09:45] gitschneider commented on #129
Closing this for now, if anyone else has this problem feel free to reopen.

[2020-05-29 09:45] #129 closed

[2020-06-02 09:56] adamtimmins opened #130 "Quick question on JSON ouput"
This is a fantastic tool. Just a quick one, wuzz doesn't seem to automatically beautify the JSON output by default? It just defaults to the single line. I'm not sure if I have to config this manually, if so where?

![image](https://user-images.githubusercontent.com/18688989/83506874-a6a8a380-a4bf-11ea-93ce-89f2e4f3928c.png)

[2020-06-03 15:20] asciimoo commented on #130
This is strange, it works for me and it should work out of the box. What terminal/distro are you using?

[2020-06-03 15:23] asciimoo commented on #130
Ah, now I'm testing with the latest dependencies and I can reproduce the issue. I'm trying to fix it ASAP. Thanks for the report.

[2020-06-03 15:30] #130 closed

[2020-06-03 15:32] asciimoo commented on #130
@adamtimmins hopefully it is fixed by 972781f2ba353002cab3be0379adc5c89e821cb0 , could you verify it?

[2020-06-03 15:47] adamtimmins commented on #130
Working perfectly, cheers :)

[2020-07-17 02:01] cd6629 commented on #13
I'd really love this feature as well, this tool is my new favorite.

[2020-07-18 22:23] masukomi commented on #13
to be clear, i wasn't specifically asking for a dedicated view. That might be nice, but what's more important to me is that when i make a request to a site, a cookie is set, and persisted, and passed on with the next request unless i modify it to not do so.

[2020-07-22 23:07] asciimoo commented on #13
@masukomi I see, it sounds useful. Could you work on it?

[2020-07-27 14:10] masukomi commented on #13
Alas, writing Go has a tendency to make me want to strangle things. ;)  Hopefully someone less "go challenged" can help. :)

[2020-10-24 18:28] micakce commented on #112
Can it at least be set to the folder from where you run the `wuzz` command?

[2020-11-24 13:32] gururajrkatti opened #132 "undefined: strings.ReplaceAll for go 1.10.x"
I am running the build and test as a part of the Ubuntu distribution for ppc64le.
This helps us simplify testing later when distributions are re-building and re-releasing.

During the build and test, I found that build for go 1.10.x is failing. This is failing for intel (amd64) as well.

`travis_install_go_dependencies 1.10.x -v` is failing for `github.com/alessio/shellescape` with the error
"../.

[2020-12-16 06:07] gururajrkatti commented on #132
Hi, just wanted to check if you got a chance to look into this

[2021-01-01 23:52] nagy135 opened #133 "Request data not saved in history"
My history doesnt preserve request body. Can you help me decide if this is not implemented yet or bug?
I m using AUR version 0.4.0

[2021-01-19 11:57] asciimoo commented on #132
This is definitely a bug. Could you submit a fix?

[2021-01-19 11:58] asciimoo commented on #133
I think this isn't implemented yet, but it is indeed a useful and missing feature.

[2021-01-19 12:05] nagy135 commented on #133
Talking just about myself now, but this is the only reason I m not using this daily and am still wasting resources with electron postman ...
I would definitelly appreaciate having something like this, either save it in history or make some other way of storing body. I dont want this to feel harsh because this has a lot of potential to me ...tmux sessions where one window would be wuzz for every pr

[2021-01-19 12:24] asciimoo commented on #133
Thanks for the feedback, it's good to get use cases from users. =)

This is my typical workflow =)

[2021-01-19 12:35] asciimoo commented on #133
Alright, seems like it was a quick fix, could you verify that it works as it is expected?

[2021-01-19 12:35] #133 closed

[2021-01-19 13:00] asciimoo commented on #133
I've created new release binaries containing this feature: https://github.com/asciimoo/wuzz/releases/tag/v0.5.0 perhaps it makes testing easier.

[2021-01-19 14:56] nagy135 commented on #133
Ye you got it, one line to make me a user, thanks :)

[2021-01-19 14:57] asciimoo commented on #133
Great, thanks for the review =]

[2021-01-19 15:10] nagy135 opened #134 "Missing vim keybinds in history/help"
This app could really use vim-style bindings everywhere where possible. Every pop-up (help, history) should have `q` as close and j/k as `down/up 1 line`. I m not really sure if this is already possible with config.toml but this should definitelly be the default since you dont need those while in pop-up menu.

I noticed that moving between section already supports `ctrl+j/k` so I guess these are j

[2021-01-20 07:47] gururajrkatti commented on #132
Thanks. I submitted PR https://github.com/asciimoo/wuzz/pull/135

[2021-02-10 15:50] cocoonkid commented on #72
The AUR is unfortunately orphaned. But looks like an easy update.Any takers?

[2021-03-09 03:00] duguanyue opened #137 "Excess characters appear when saving input after using Ctrl O"
Every time when I use Ctrl O to open an editor, modify some input, and then save it, this occurs.

What I've saved should be `https://www.google.com/`, but after saving via `:wq`, it changes to `2;2R3;1R>0;95;0c10;rgb:d067/d2e8/d15111;rgb:1d1c/1f1f/2120https://www.google.com/`.

Seems to have added some color infomation.

I'm using macOS Mojave 10.14.6 + iTerm2 + oh_my_zsh.

![image](https://user-

[2021-03-15 14:44] asciimoo commented on #137
Yeah, this is definitely a bug. I have no clue what causes it, any help would be appreciated.

[2021-03-22 04:47] lewesche commented on #137
See potential fix in #138

[2021-04-05 10:19] #128 closed

[2021-06-23 21:09] mason-jones-ck opened #139 "Undefined error with unix.IoctlGetTermios when doing "go get""
[code]
This is on a Mac, running `go version go1.14.3 darwin/amd64`. I did some searching and found a similar issue on another project (https://github.com/golang/go/issues/22688) and I tried rebuilding `golang.org/x/sys/unix` since it seemed to help some people there, but it didn't make a difference in this case.

Any suggestions would be great -- thanks.

[2021-06-23 21:10] mason-jones-ck commented on #139
I realized the root of this error is of course in the `go-isatty` package, and found that there is an existing issue about this opened against it: https://github.com/mattn/go-isatty/issues/53

[2021-06-23 21:12] mason-jones-ck commented on #139
However, that issue is over a year old, so it may be necessary to find a replacement for `go-isatty` to get this working...

[2021-06-23 22:37] mattn commented on #139
This cause is that x/sys/unix was not support alpine but now support it. So I'll update dependencies in later.

[2021-06-23 23:28] mason-jones-ck commented on #139
Just to close the loop on this in case others encounter it: there was something out of sync, apparently, in the golang.org/x/sys package which go-isatty didn't like. I removed that package and re-fetched go-isatty and it worked (documented in that issue). Since this didn't have anything to do with wuzz specifically, I'll close this but at least it's here for posterity.

[2021-06-23 23:28] #139 closed

[2021-11-01 06:25] alexitron77 commented on #112
+1
I'm looking for a fast way to select any saved requests. Writing the full path to the saved requests can definitely be optimized

[2021-12-09 13:34] vendion commented on #111
I'm having something similar under Arch linux and Konsole 21.08.3. When I press `F1` instead of help being brought up a `P` gets inserted. I'm using Wuzz 5.0.0 which was built from source.

[2022-03-16 14:41] mikemadden42 opened #142 "Cannot build wuzz with go 1.18"
I cannot build wuzz with go 1.18:

[code]

[code]

[2022-05-27 19:52] tc-mgriff commented on #127
This issue happens for me as well. When i use the editor it get a bunch of terminal color values infront of what i added. Please create a real fix for this, updating asciimoo doesn't resolve it.

[2022-05-27 20:33] tc-mgriff opened #144 "Please add cursor support for editing"
When i try and edit something in the request fields using my cursor all i get is A, B, C, D. This makes using wuzz really frustrating when I'm editing requests and trying different things. The same goes for the copy and paste issue.

Try using wuzz to play around with something like https://overthewire.org/wargames/natas/ and you'll see what i mean.